<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Smart Calendar</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <p><a href="{% url 'index' %}">Smart Calendar</a>
    {% if user.is_authenticated %}
	    Hello, {{ user.username }}.
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
	    <a href="{% url 'login' %}">log in</a>
        <a href="{% url 'register' %}">sign up</a>
    {% endif %}
    </p>
    {% block content %}

    {% endblock content %}
</body>
</html>